#                                            DIRECTIONAL DRILLING 
##                                           *DIRECTIONAL WELLS TRAYECTORIES*

***

<img src="images/Slant well.png"/>

# Python Libraries

In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import namedtuple
from math import radians, isclose, acos, asin, cos, sin, tan, atan, degrees, sqrt

In [3]:
%config Completer.use_jedi = False

# Directional Wells Profiles

# *Slant Well Profile (J Type)*

In [49]:
Data = namedtuple("Input", "TVD KOP BUR DH")
Output = namedtuple("Output", "R Theta TVD_EOB Md_EOB Dh_EOB Tan_len Md_total")

def well_J(data:Data, unit='ingles') -> Output:
    tvd = data.TVD
    kop = data.KOP
    bur = data.BUR
    dh = data.DH
    if unit == 'ingles':
        R = 5729.58 / bur
    else:
        R = 1718.87 / bur
    if dh > R:
        dc = dh - R
    elif dh < R:
        dc =   R - dh
    do = tvd - kop
    doc = degrees(atan(dc / do))
    oc = sqrt(dc**2 + do**2)
    boc = degrees(acos(R / oc))
    if R < dh:
        bod = boc - doc
    elif R > dh:
        bod = boc + doc
    theta = 90 - bod
    tvd_eob = kop + abs(R * sin(radians(theta)))
    if unit == 'ingles':
        md_eob = kop + (theta / bur) * 100
    else:
        md_eob = kop + (theta / bur) * 30
    dh_eob = R - R * cos(radians(theta))
    tan_len = sqrt(oc**2 - R**2)
    if unit == 'ingles':
        md_total = kop + (theta / bur) * 100 + tan_len
    else:
        md_total = kop + (theta / bur) * 30 + tan_len
    return Output(R=R, Theta=theta, TVD_EOB=tvd_eob, Md_EOB=md_eob, Dh_EOB=dh_eob, \
                  Tan_len=tan_len, Md_total=md_total)

In [73]:
trajectory_J = well_J(Data(8000, 500, 2, 970.8))

In [74]:
names = ['R', 'theta', 'tvd_EOB', 'Md_EOB', 'Dh_EOB', 'Lengh_tan', 'Md_Total']
for param , value in zip(names, trajectory_J):
    if param == 'theta':
        print(f"{param} -> {value} degrees")
    else:
        print(f"{param} -> {value} ft")

R -> 2864.79 ft
theta -> 7.564230623470863 degrees
tvd_EOB -> 877.1139517978513 ft
Md_EOB -> 878.2115311735431 ft
Dh_EOB -> 24.929649303260703 ft
Lengh_tan -> 7185.414140882904 ft
Md_Total -> 8063.625672056447 ft

# *S-Type Well Profile*

In [66]:
Data_S = namedtuple("Input", "TVD KOP BUR DOR DH")
Output_S = namedtuple("Output", "R1 R2 Theta TVD_EOB Md_EOB Dh_EOB Tan_len Md_SOD TVD_SOD Dh_SOD Md_total")

def well_S(data:Data_S, unit='ingles'):
    tvd = data.TVD
    kop = data.KOP
    bur = data.BUR
    dor = data.DOR
    dh = data.DH
    if unit == 'ingles':
        R1 = 5729.58 / bur
        R2 = 5729.58 / dor
    else:
        R1 = 1718.87 / bur
        R2 = 1718.87 / dor
    if dh > (R1 + R2):
        fe = dh - (R1 + R2)
    elif dh < (R1 + R2):
        fe = R1 - (dh - R2)
    eo = tvd - kop
    foe = degrees(atan(fe / eo))
    of = sqrt(fe**2 + eo**2)
    fg = R1 + R2
    fog = degrees(asin(fg / of))
    theta = fog - foe
    tvd_eob = kop + R1 * sin(radians(theta))
    if unit == 'ingles':
        md_eob = kop + (theta / bur) * 100
    else:
        md_eob = kop + (theta / bur) * 30
    dh_eob = R1 - abs(R1 * cos(radians(theta)))
    tan_len = sqrt(of**2 - fg**2)
    if unit == 'ingles':
        md_sod = kop + (theta / bur) * 100 + tan_len 
    else:
         md_sod = kop + (theta / bur) * 30 + tan_len 
    tvd_sod = tvd_eob + tan_len * abs(cos(radians(theta)))
    dh_sod = dh_eob + abs(tan_len * sin(radians(theta)))
    if unit == 'ingles':
        md_total = kop + (theta / bur) * 100 + tan_len + (theta / dor) * 100
    else:
        md_total = kop + (theta / bur) * 30 + tan_len + (theta / dor) * 30
    return Output_S(R1=R1, R2=R2, Theta=theta, TVD_EOB=tvd_eob, Md_EOB=md_eob, Dh_EOB=dh_eob, \
                    Tan_len=tan_len, Md_SOD=md_sod, TVD_SOD=tvd_sod, Dh_SOD=dh_sod, Md_total=md_total)

In [68]:
trajectory_S = well_S(Data_S(12000, 6084, 3, 2, 3500))

In [69]:
trajectory_S

Output(R1=1909.86, R2=2864.79, Theta=39.93029740693158, TVD_EOB=7309.853592805263, Md_EOB=7415.009913564386, Dh_EOB=445.32997688458863, Tan_len=3718.401000430159, Md_SOD=11133.410913994545, TVD_SOD=10161.219610792105, Dh_SOD=2832.0050346731164, Md_total=13129.925784341123)

In [72]:
names = ['R1', 'R2', 'theta', 'tvd_EOB', 'Md_EOB', 'Dh_EOB', 'Lengh_tan', 'Md_SOD', 'tvd_SOD', 'Dh_SOD', 'Md_Total']
for param , value in zip(names, trajectory_S):
    if param == 'theta':
        print(f"{param} -> {value} degrees")
    else:
        print(f"{param} -> {value} ft")

R1 -> 1909.86 ft
R2 -> 2864.79 ft
theta -> 39.93029740693158 degrees
tvd_EOB -> 7309.853592805263 ft
Md_EOB -> 7415.009913564386 ft
Dh_EOB -> 445.32997688458863 ft
Lengh_tan -> 3718.401000430159 ft
Md_SOD -> 11133.410913994545 ft
tvd_SOD -> 10161.219610792105 ft
Dh_SOD -> 2832.0050346731164 ft
Md_Total -> 13129.925784341123 ft

# *Horizontal Well Profiles*

![Title](img/image_file_name_here.png)

In [101]:
Data_H = namedtuple("Input", "TVD KOP BUR1 BUR2 DH")
Output_H = namedtuple("Output", "R1 R2 Theta TVD_EOB1 Md_EOB1 Dh_EOB1 Tan_len Md_SOB2 Md_total")

def well_H(data:Data_S, unit='ingles'):
    tvd = data.TVD
    kop = data.KOP
    bur1 = data.BUR1
    bur2 = data.BUR2
    dh = data.DH
    if unit == 'ingles':
        R1 = 5729.58 / bur1
        R2 = 5729.58 / bur2
    else:
        R1 = 1718.87 / bur1
        R2 = 1718.87 / bur2
    eg = (tvd - kop) - R2
    eo = dh - R1
    goe = degrees(atan(eg / eo))
    og = sqrt(eg**2 + eo**2)
    of = R1 - R2
    gof = degrees(acos(of / og))
    theta = 180 - goe - gof
    tvd_eob1 = kop + R1 * sin(radians(theta))
    if unit == 'ingles':
        md_eob1 = kop + (theta / bur1) * 100
    else:
        md_eob1 = kop + (theta / bur1) * 30
    dh_eob1 = R1 - abs(R1 * cos(radians(theta)))
    tan_len = sqrt(og**2 - of**2)
    if unit == 'ingles':
        md_sob2 = kop + (theta / bur1) * 100 + tan_len 
    else:
        md_sob2 = kop + (theta / bur1) * 30 + tan_len 
    #tvd_sod = tvd_eob + tan_len * abs(cos(radians(theta)))
    #dh_sod = dh_eob + abs(tan_len * sin(radians(theta)))
    if unit == 'ingles':
        md_total = kop + (theta / bur1) * 100 + tan_len + ((90 - theta) / bur2) * 100
    else:
        md_total = kop + (theta / bur1) * 30 + tan_len + ((90 - theta) / bur2) * 30
    return Output_H(R1=R1, R2=R2, Theta=theta, TVD_EOB1=tvd_eob1, Md_EOB1=md_eob1, Dh_EOB1=dh_eob1, \
                    Tan_len=tan_len, Md_SOB2=md_sob2, Md_total=md_total)

In [102]:
trajectory_H = well_H(Data_H(3800, 2000, 5.73, 9.55, 1800))

In [103]:
trajectory_H

Output(R1=999.9267015706805, R2=599.9560209424084, Theta=49.79153676571747, TVD_EOB1=2763.6447008457926, Md_EOB1=2868.9622472202, Dh_EOB1=354.4035188853795, Tan_len=1385.729515154276, Md_SOB2=4254.691762374476, Md_total=4675.722791005706)

In [110]:
names = ['R1', 'R2', 'theta', 'tvd_EOB1', 'Md_EOB1', 'Dh_EOB1', 'Lengh_tan', 'Md_SOB2', 'Md_Total']
for param , value in zip(names, trajectory_H):
    if param == 'theta':
        print(f"{param} -> {value} degrees")
    else:
        print(f"{param} -> {value} ft")

R1 -> 999.9267015706805 ft
R2 -> 599.9560209424084 ft
theta -> 49.79153676571747 degrees
tvd_EOB1 -> 2763.6447008457926 ft
Md_EOB1 -> 2868.9622472202 ft
Dh_EOB1 -> 354.4035188853795 ft
Lengh_tan -> 1385.729515154276 ft
Md_SOB2 -> 4254.691762374476 ft
Md_Total -> 4675.722791005706 ft